* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h2, h3 {
    text-decoration: underline;
}


section {
    padding: 5px 2.5%;
}

.park-pictures img {
    max-width: 45%;
    max-height: 400px;
}

input[type=text] {
    width: 80%;
    border: solid 1px gray;
    padding: 5px;
}